/* Media Queries */
@media(max-width:992px) {
	h1 {
		font-size: 36px;
	}
	h2 {
		font-size: 28px;
	}
	h3 {
		font-size: 24px;
	}
	h4 {
		font-size: 20px;
	}
	h5 {
		font-size: 16px;
	}
	h6 {
		font-size: 12px;
	}
	.section {
		padding: 30px 0;
	}
	.pricing{
		flex-flow: column;
		align-items: center;
	}
	.col-md-4{
		text-align: center;
	}
	.team{
		width: 500px;
	}
	.service{
		width: 500px;
	}
	.row{
		text-align: center;
	}
}
@media(max-width: 820px){

}
@media(max-width: 600px){
	.container{
		width: 95%;
	}
	.bottom1{
		width: 90%;
	}
	.services{
		align-items: center;
	}
	.service{
		width: 300px;
	}
	.cont{
		align-items: center;
	}
	.col-md-4{
		text-align: center;
	}
	.btslider
	{
		flex-direction: column;
	}
	.hidden-header
	{
		display: none;
	}
	a
	{
		font-size: 9px;
	}
	.dws
	{
		height: 30px;
		width: 70px;
		top: 60px;
	}
	.pricing{
		flex-flow:column ;
	}
	.box-main{
		margin: 1px;
		width: 200px;
		margin-bottom: 10px;
	}
}
@media(max-width:1120px) {
	.text-center-mobile {
		text-align: center !important;
	}
	.services{
		align-items: center;
	}
	.cont{
        align-items: center;
        flex-flow: column;
	}
	.row{
		align-items: center;
	}
	.pricing{
		display: block;
		flex-flow: column;
	}
	.box-second{
		display: none;
	}
	.col-md-4{
		text-align: center;
	}
	
}
@media(max-width:1170px) {
	li{
		font-size: 12px;
	}
	.box-second{
		display: none;
	}
	.team{
		width: 700px;
	}
	.white{
		font-size: 16px;
	}
	.light{
		font-size: 24px;
	}
}
@media(max-width:400px) {
	.box-main{
		width: 120px;
	}
	.light{
		font-size: 13px;
	}
	.btn1{
		width: 100px;
	}
}
@media(max-width:1300px) {
	li{
		font-size: 15px;
	}
	.col-md-4{
		text-align: center;
	}
}
@media(max-width:1600px) {
	.box-second{
		margin-right: 30px;
	}
}
@media(max-width:991px) {
	.text-center-mobile {
		text-align: center !important;
	}
	.services{
		flex-flow: column;
	}
	.col-md-4{
		margin: auto;
	}
	.tips{
		flex-flow: column;
		align-items: center;
	}
	.tips div{
		margin-top: 5px;
    }
    .cont{
        align-items: center;
    }
	.box-main{
		margin-left:25%;
	}
	.btslider
	{
		flex-direction: column;
	}

	a
	{
		font-size: 10px;
	}
	.dws
	{
		height: 30px;
		width: 70px;
	}
}