@import url(http://fonts.googleapis.com/css?family=Roboto:300,400,500,700);
body {
	font-family: 'Roboto', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;
	font-size: 14px;
	overflow-x: hidden;
	color: #2a3237;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
p {
	font-size: 18px;
	line-height: 1.5;
	color: #8a8e91;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Roboto', 'Avenir Next', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;
	position: relative;
	margin: 10px 0;
}

h1 {
	font-size: 60px;
}

h2 {
	font-size: 48px;
}

h3 {
	font-size: 30px;
	text-align: center;
}

h4 {
	font-size: 24px;
	text-align: center;
}
h5{
	text-align: center;
}

.serv{
	text-align: center;
	margin-top: 50px;
}
h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}



.services {
	margin: 40px 0;
	display:flex;
	justify-content: space-around;
}

.service {
	width: 330px;
	height: 300px;
	margin: 80px 0;
	text-align: center;
	border: 1px solid #ddd;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.service .icon-holder {
	position: relative;
	top: 100px;
	display: inline-block;
	margin-bottom: 40px;
	padding: 10px;
	background: white;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.service .heading {
	position: relative;
	top: 80px;
	-webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
	transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.service .icon-holder > img.icon {
	width: 40px;
}

.service:hover {
	border-color: #00a8ff;
}

.service:hover .icon-holder {
	top: -30px;
}

.service:hover .heading {
	top: -30px;
}

.service .description {
	width: 80%;
	margin: 0 auto;
	opacity: 0;
	-webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
	transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
}

.service:hover .description {
	opacity: 1;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

.team {
	width: 290px;
	background-color:white;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.07);
	margin: 10px;
	align-items: center;
}

.team .cover .overlay {

	height: 250px;
	padding-top: 60px;
	opacity: 0;
	background: rgba(0, 168, 255, 0.9);
	-webkit-transition: opacity 0s ease;
	transition: opacity 0s ease; 
}

.team:hover .cover .overlay {
	opacity: 1;
}

.team .avatar {
	margin-top: -60px;
	border-radius: 50%;
}

.team .title {
	margin: 50px 0;
}

.btn-blue-fill {
	color: #00a8ff;
	border-color: #00a8ff;
	background: transparent;
	width: 200px;
	height: 50px;
	margin-bottom: 15px;
}

.btn-blue-fill:hover {
	color: white;
	background: #00a8ff;
}
.container {
	position: relative;
	z-index: 1;
}
.white {
	color: white;
}

.light-white {
	color: rgba(255, 255, 255, 0.5);
}

.white-bg {
	background: white;
	
}

.muted {
	color: #989da0;
}

.cont{
	display: flex;
	justify-content: space-around;
}

.col-md-4{
	justify-content: space-around;
	text-align: center;
}

header
{
	padding-top: 7px;
	text-align: center;
	display: flex;
	justify-content: center;
}

header img
{
	margin-top: 13px;
	width: 7%;
	height: 7%;
	max-width: 75px;
}

a
{
    margin: 40px;
    color: white;
    letter-spacing: 2px;
}

.main
{
	width: 100%;
	color: white;
	background: rgba(28, 36, 65, 0.93);
	background: url('../img/header.jpg');
	background-size: cover;
	height: 850px;
	/* background-size: 100%; */
	/* sd.gusev */
	/* height: 900px; */
	/* max-height: 1200px; */
	
}

body
{
    margin: 0px;
}

.tips
{
    display: flex;
    justify-content: space-around;
	margin-top: -200px;
}

.tips div
{
    background-color: #212B47;
    color: white;
	width: 300px;
    height: 300px;
}

h5, h3
{
	margin-top: 60px;
    text-align: center;
    color: white;
}

h4, h2
{
    text-align: center;
}
.container2{
	height: 800px;
}
.fa-twitter{
	color: white;
}
.section1{
	background-color: #00a8ff;
	height: 250px;
}
.grey{
	color: #8c8c8c;
}
.prc{
	padding-top: 40px;
}
.bcg{
	background: url("../img/pricing1.jpg");
	width: 100%;
	height: 700px;
	background-size: cover;
	justify-content: space-around;
}
.title{
	margin: 30px;
}
.pricing{
	display: flex;
}
.margin-top{
	margin-top: 50px;

}
.box-main{
	padding-top: 10px;
	background-color: #00a8ff;
	height: 175px;
	width: 380px;
	margin-left:50%;
	margin-bottom: 10px;
	text-align: center;
	outline: none;
	transition: 0.4s;
	cursor: pointer;
}

.box-second{
	background-color: #00a8ff;
	width: 380px;
	padding-right: 20px;
	margin-bottom: 10px;
}
li{
	font-size: 17px;
	margin:13px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: white;
}
.btn1{
	color: white;
	border-color: red;
	width: 120px;
	height: 40px;
	border: 2px solid white;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	outline: none;
	text-decoration: none;
	background-color: #00a8ff;
}
.active, .btn1:hover{
	color: rgb(51,51,255);
	background-color: white;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.white1{
	margin-bottom: 25px;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
}
.icon1{
	margin-left: 50%;
	
}
.tips div
{
	padding: 15px;
}

h3
{
	font-size: 40px;
}

h5
{
	font-size: 25px;
}
.per{
	text-decoration: none;
	padding: 5px 15px;
	transition: all 0.2s ease;
}
.per:hover{
	color: #1F7FD9;

	
}
.per-hidden
{
	text-decoration: none;
	transition: all 0.2s ease;
}
.per-hidden:hover
{
	color: #00a8ff;
}

.btn-blue-fill1 {
	color: #00a8ff;
	border-color: #00a8ff;
	background: transparent;
	width: 200px;
	height: 50px;
	margin-top: 50px;
	margin-left: 120px;
}

.btn-blue-fill1:hover {
	color: white;
	background: #00a8ff;
}
.blink{
	border-radius: 50%;
	width: 20px;
	height: 20px;
	margin-left: 5px;
}
.icons{
	width: 300px;
	height: 50px;
	margin-left: 350px;
	margin-top: 20px;
}
.icons i{
	color: black;
    font-size: 15px;
	width: 30px;
	height: 30px;
	margin: 20px;
}
.icons i:hover{
	color:  cornflowerblue;
    border-radius: 5px;
    cursor: pointer;
}

.sstu{
	color: #00a8ff;
	text-decoration: none;
	margin: 5px;
}
.sstu:hover{
	color: white;
}
.made{
	width: 500px;
	margin: 20px;
}
.bottom{
	background-color:#2a3237;
	width: 100%;
}

.hidden-header
{
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 2em;
	line-height: 2em;
	transform: translateY(-100%);
	padding: 7px;
	text-align: center;
	background: black;
	transition: all 0.3s ease;
	z-index: 999999999;
	font-size: 10px;
}
.hidden-header.out
{
	transform: translateY(0%);
}

.hidden-header img
{
	width: 2%;
}
.dws{
	height: 40px;
	width: 100px;
	margin-top: 30px;
	margin-left: 50px;
    font-size: 15px;
    color: #fff;
    background-color: #2ca8c6;
	border-radius: 10%;
    border-bottom: 4px solid #6ee9fd;
    cursor: pointer;
	position: absolute;
	top: 10px;
	right: 20px;
}
.dws:hover{
	transition: all 0.5s;
    background: #fff;
    color: #2c536c;
}

.text-center-mobile {
	text-align: center !important;
	display: inline-block;
	
	
}
.ripple{
	text-decoration: none;
}
footer {
	padding: 140px 0 40px;
	background: url('../img/footer.jpg');
	-webkit-background-size: cover;
	background-size: cover;
}

footer .trial-button {
	overflow: hidden !important;
	margin: 40px 0;
}
.row{
	text-align: center;
}
footer .open-blink {
	content: ' ';
	position: relative;
	display: inline-block;
	width: 14px;
	height: 14px;
	margin: 0 20px;
	border-radius: 50%;
	background-color: #4caf50;
	
}

footer .open-blink:before {
	content: ' ';
	position: absolute;
	top: -8px;
	left: -8px;
	display: inline-block;
	width: 30px;
	height: 30px;
	opacity: 0.1;
	border-radius: 50%;
	background-color: #4caf50;
}

footer .opening-hours {
	margin-top: 60px;
	display: inline-block;
}

footer .bottom-footer {
	margin-top: 150px;
}

footer .social-footer {
	padding: 0;
	list-style: none;
}

footer .social-footer li {
	display: inline-block;
	margin: 0 10px;
}

footer .social-footer li a {
	font-size: 24px;
	color: #fff;
}

i.icon2:hover{
	color: #00a8ff;
}
section {
	position: relative;
}

.section {
	padding: 40px 0;
	background: #fff;
}

.section-padded {
	padding: 140px 0 40px;
}
.btn {
	font-size: 18px;
	display: inline-block;
	padding: 15px 30px;
	color: white;
	border: 2px solid transparent;
	border-radius: 2px;
	background: transparent;
	transition: all 0.3s ease;
}

.btn:hover,
.btn:focus {
	color: white;
}

.btn.btn-blue {
	background: #00a8ff;
}

.btn.btn-blue:hover {
	background: #31b9ff;
}
.bottom-footer{
	text-align: center;
	
}

.btn {
	font-size: 18px;
	display: inline-block;
	padding: 15px 30px;
	color: white;
	border: 2px solid transparent;
	border-radius: 2px;
	background: transparent;
	transition: all 0.3s ease;
}

.btn:hover,
.btn:focus {
	color: white;
}

.btn.btn-blue {
	background: #00a8ff;
}

.btn.btn-blue:hover {
	background: #31b9ff;
}
.bottom-footer{
	text-align: center;
	
}

.slider div
{
	width: 300px;
	height: 300px;
	background-color: #212B47;
}
.slider div p
{
	padding: 0px 18px;
	color: white;
}

.btslider
{
	display: flex;
	margin-top: -240px;
	margin-left: 115px;
}

.bigwall div img
{
	height: 400px;
	object-fit: cover;
}